:root {
    --dark-primary-color: #303F9F;
    --default-primary-color: #3F51B5;
    --light-primary-color: #C5CAE9;
    --accent-color: #607D8B;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./Fonts/Lato-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #f7f7f7;
}

.content {
    width: auto;
    padding-left: 50px;
    margin-top: 100px;
}

button {
    outline: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    border: 1px solid #e6e6e6;
}

.pad {
    padding: 20px;
}

.break {
    margin-bottom: 10px;
}

.login {
    border-radius: 4px;
    max-width: 400px;
    background-color: #ffffff;

    padding: 20px 35px;
    margin: 10% auto;

    text-align: left;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}